.foto {
  margin-top: 5em;
  border-radius: 50%;
  height: 20em;
  width: 16em;
}

/* Animación de pulsación */
.pulse {
  background-color: #17a2f1;
  animation: pulse 2s infinite;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
